// Borders
$border-width: 0.0625rem;
$border-color: $gray-200;
$border-radius: 0.25rem !default;

.rounded {
  border-radius: $border-radius !important;
}

.border {
  border: $border-width solid $border-color !important;
}

.border-light {
  border-color: $gray-400 !important;
}
